# Python
__pycache__/
*.py[cod]
*.db
*.sqlite3

# Flask
instance/

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env
backend/.env
frontend/.env

# Vue / Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
frontend/.vite/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Redis
Redis/
Redis-x64-5.0.14.1/
MailHog/
Mail Hog & Redis/
dump.rdb

# Celery (needed for Phase 6)
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat.pid
celerybeat-schedule.db

# Python packaging (in case pip generates these)
*.egg-info/
build/